body{
    width: 100%;
    background: linear-gradient(45deg, rgb(48, 48, 107), rgb(21, 21, 54), rgb(82, 57, 11));
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    padding: 20px 10px;
}
#one{
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
#one h1{
    margin: 20px;
    font-size: 30px;
    color: white;
}
#two{
    width: 400px;
    height: 400px;
    display: flex;
    justify-items: center;
    align-items: center;
}
h2{
    text-align: center;
}
img{
    width: 400px;
    height: 400px;
}
#login{
    width: 400px;
    height: 400px;
    padding: 50px;
    align-items: center;
    justify-items: center;  
}
#login h1{
    text-align: center;
}
form{
    padding: 10px;
}
input{
    padding: 2px;
}
label{
    margin-bottom: 10px;
}
button{
    margin-left: 60px;
    margin-top: 12px;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
}
#register{
    margin: 10px;
    text-align: center;
}